<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.80.500" package="tecnocom.com.alarma" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="Vigicom.Android" android:theme="@style/MainTheme" android:icon="@mipmap/ic_logo"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="smsto" />
		</intent>
		<intent>
			<action android:name="android.intent.action.DIAL" />
			<data android:scheme="tel" />
		</intent>
	</queries>
</manifest>